/* VideoPlayer.css */
.video-player-container {
    background-color: #181818; /* Màu nền xám đậm */
    color: white; /* Màu chữ trắng */
    padding: 20px;
  }
  
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .video-info {
    padding: 20px;
  }
  
  .video-info h3 {
    margin-bottom: 10px;
  }
  
  .video-info p {
    margin-bottom: 5px;
  }
  